In [1]:
#Q.1 Explain for and while loop with examples?

In [5]:
#Answer
l1=["sudh","krish","naik","Uzma"]

In [6]:
 for i in l1 :
        print(i)  ##Basic use of for

sudh
krish
naik
Uzma

In [10]:
##for with if else
for i in l1:
    if i == "naik":
        break
    print(i)
else:
    print("Its okay")

sudh
krish

In [30]:
i = int(input("Enter number"))
while i < 6:
  i += 1
  print(i)
if i>6:
    print("i is no longer less than 6")

Enter number 3

4
5
6

In [32]:
##Q.2 WAP to print sum and product of 10 natural numbers using for and while loop.

In [37]:
##ANSWER
l2=[1,2,3,4,5,6,7,8,9,10]

In [38]:
result=0
for i in l2:
    result=result+i
result

55

In [1]:
n=int(input("Enter n"))
i=1
sum=0
while i<=n:
    sum=sum+i
    i=i+1
print("The sum is: ",sum)

Enter n 10

The sum is:  55

In [1]:
l3=[1,2,3,4,5,6,7,8,9,10]

In [2]:
product=1
for i in l3:
    product=product*i
product

3628800

In [3]:
n= 10
i=1
product=1
while i<=10:
    product=product*i
    i=i+1
print("The product is: ",product)

The product is:  3628800

In [7]:
##Question-3 Calculate electricity bill.
i= int(input("Input number of units"))
if i<=100:
       Charge=i*4.5
elif i>100 and i<=200:
       Charge=450+ ((i-100)*6)
elif i>200 and i<=300:
       Charge=450+600+((i-200)*10)
elif i>300:
       Charge=450+600+1000+((i-300)*20)
print("The electricity bill is: ",Charge)

Input number of units 310

The electricity bill is:  2250

In [31]:
##Question-4 Write a program to print cube of each number from 1 to 100 and the cube is divisible by 4 or 5
##append that in new list and print that list.
l1= []
for i in range(1,101,1):
    print(i*i*i)
    l1.append(i*i*i)
l1
l1_divisible=[]
for i in l1:
    if i %4 ==0 or i%5 == 0:
        l1_divisible.append(i)
l1_divisible

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [41]:
##Question-5 Calculate number of vowels.
string= "I want to become a data scientist"
vowels=0
for i in string:
    if( i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        vowels=vowels+1
print("Number of vowels are : ",vowels)

Number of vowels are :  11